body{

        background-color: grey;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        color: #6b1010;

}

video{

    background-color: goldenrod;
}

canvas{
    
        background-color: goldenrod;
    }
    
    
