<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}! <br>
    I am  {{  learner }}
  </h1>


<hr>
<a routerLink="order">Show Orders</a>
<a routerLink="product">Show Products</a>
<a routerLink="catalog">Show Catalog</a>
<a routerLink="child1">Child 1</a>
<a routerLink="child2">Child 2</a>
<a routerLink="taskmanager">Task Manager</a>
<a routerLink="template">Template Form</a>
<a routerLink="model">Model Form</a>
<a routerLink="consume1">Consume 1</a>
<a routerLink="consume2">Consume 2</a>

<router-outlet></router-outlet>


